/* FONTES EXPORTADAS */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

/* RESET UNIVERSAL */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #fff;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* CABEÇALHO */
header {
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px 50px;
    font-size: 15pt;
}

.logo{
    height: 40px;
}

#botao-conta{
    cursor: pointer;
    font-family: "Work sans", sans-serif;
    font-size: .8em;
    padding: 10px 6px;
    background-color: black;
    border: 2px solid #fff;
    margin-right: 20px;
    color: #fff;
    border-radius: 6px;
}

#botao-entrar {
    cursor: pointer;
    font-family: "Work sans", sans-serif;
    font-size: .8em;
    padding: 10px 6px;
    background-color: #00b6ff;
    border: none;
    color: #fff;
    border-radius: 6px;
}

.menu-header ul {
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0 20px;
}

.menu-header ul li a {
    font-family: "Work-sans", sans-serif;
    font-size: 1em;
    color: #fff;
    text-decoration: none;
}

/* CORPO */
.banner {
    background-image: url(../assets/img/conecta.png);
    background-size: cover;
    background-position: center;
    height: 500px;
}

/* HAMBÚRGUER */
.hamburguer{
    cursor:pointer;
    position:relative;
    z-index:2;
    display:none
}

.barra{
    display: block;
    width: 3rem;
    height: .3rem;
    background: #fff;
    margin: .5rem auto;
    border-radius: 1px;
    transition: .5s;
}

@media (width <= 1024px) {
    .menu-header{
        width:100%;
        height:100vh;
        background: #000;
        position:absolute;
        z-index:1;
        top:0;
        left:-100%;
        gap:0;
        text-align:center;
        flex-direction:column;
        justify-content:center;
    }

    .botoes {
        position:absolute;
        left:-100%;
    }

    .active{
        left:0;
    }

    .hamburguer{
        display:block;
    }

    .hamburguer.active .barra:first-child{
        transform: translateY(8px) rotate(360deg) rotate(45deg);
    }

    .hamburguer.active .barra:nth-child(2){
        opacity:0;
    }

    .hamburguer.active .barra:last-child{
        transform:translateY(-16px) rotate(-360deg) rotate(-45deg);
    }
}